node_modules
dist/**
./secret
.env*
yarn.lock
.vscode
.DS_Store
config/*-config.json
index.js
TODO
# This is generated while debugging, see config/default.json
some_name.log
# NetBSD dumps.
**/node.core
